@import "./src/styles/variables";

.carousel-caption {
  background: rgba(255, 255, 255, 0.7);
  bottom: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
  right: 30%;
  left: 30%;
}

div.carousel-caption h5 {
  color: $tertiary;
}

.carousel-indicators {
  margin-bottom: 0.5rem;
}

.card:hover {
	opacity: .8;
	transition: 0.5s;
	cursor: pointer;
  }