@import "./src/styles/variables";

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  right: 0;
  left: 0;
}

div.carousel-caption p {
  color: white;
  font-size: 20px;
}

.carousel-indicators {
  margin-bottom: 0.5rem;
}
