<div class="container">

    <div class="row">
        <div class="col">

            <h1 class="text-center py-3">{{ (cosplay | async)?.name }} from {{ (cosplay | async)?.series }} Cosplay</h1>

            <img [src]="(cosplay | async)?.mainImgUrl" class="img-fluid float-left pr-3"
                alt="{{(cosplay | async)?.name}}">

            <p>
                {{ (cosplay | async)?.description }}
            </p>

        </div>

    </div>

    <div class="row pt-3">
        <div class="col">

            <h2>Tutorial: How to Make {{ (cosplay | async)?.name }}</h2>

            <ul class="cosplayNote">
                <li *ngFor="let note of (cosplay | async)?.notes" class="py-2"><b>{{ note.title }}:</b>
                    <a *ngIf="note.link" href="{{note.link}}" target="_blank">[link]</a>
                    {{ note.description }}</li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="text-center">Image Gallery</h2>
            <p class="text-center">Click image to view at full-size</p>
        </div>
    </div>


    <div class="row">
        <div class="col d-flex justify-content-center">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
    </div>



</div>