<div class="container">

    <div class="row">
        <div class="col">

            <h1 class="text-center py-3">{{ (cosplay | async)?.name }} - {{ (cosplay | async)?.series }} Cosplay</h1>

            <img [src]="(cosplay | async)?.mainImgUrl" class="img-fluid float-left pr-3"
                alt="{{(cosplay | async)?.name}}">

            <p>
                {{ (cosplay | async)?.description }}
            </p>

        </div>

    </div>

    <div class="row pt-3">
        <div class="col">

            <h2>Tutorial: How to Make {{ (cosplay | async)?.name }}</h2>

            <ul>
                <li *ngFor="let note of (cosplay | async)?.notes" class="py-2"><b>{{ note.title }}:</b>
                    <a *ngIf="note.link" href="{{note.link}}" target="_blank">[link]</a>
                    {{ note.description }}</li>
            </ul>

        </div>
    </div>

    <div class="row justify-content-center pb-5">
        <div class="col-auto" *ngIf="(cosplay | async)?.wip">
            <h2 class="text-center">WIP Photos</h2>
            <img src="{{(cosplay | async)?.wip}}" class="img-fluid" alt="Cosplay WIP">
        </div>
    </div>

    <div class="row pt-2 justify-content-center pb-3">
        <div class="col-auto">
            <h2 class="text-center">Image Gallery</h2>

            <app-cosplay-gallery></app-cosplay-gallery>
        </div>
    </div>
    
    <div class="row pt-2 justify-content-center">
        <div class="col-sm-3">
            <h5>Photographers</h5>
            <ul>
                <li *ngFor="let photog of (cosplay | async)?.photographer"><a href="{{photog.link}}" target="_blank">{{ photog.name }}</a></li>
            </ul>
        </div>

        <div class="col-auto">
            <h5>Cosplayers</h5>
            <ul>
                <li *ngFor="let cos of (cosplay | async)?.cosplayers"><a href="cos.link" target="_blank">{{ cos.name }}</a> - {{ cos.char }}</li>
            </ul>
        </div>
    </div>


</div>