@import './src/styles/variables';
$icon-linkcolor: $tertiary;

.icon {
    color: $icon-linkcolor;
}

a:hover {
    color: darken($icon-linkcolor, 15%);
}

path:hover {
    fill: darken($icon-linkcolor, 15%);
}

.list-group-item {
    background: none;
    font-size: 120%;
    border: 0;
}