<div class="container">

   <div class="row">
      <div class="col">

         <h1 class="text-center py-3">Links</h1>

         <h2>My Social Pages</h2>

         <a href="https://www.facebook.com/firecloak" target="_blank" class="icon mx-1">
            <fa-icon [icon]="['fab', 'facebook-square']" class="fa-2x"></fa-icon>
         </a>

         <a href="https://www.instagram.com/firecloak/" class="icon mx-1" target="_blank">
            <fa-icon [icon]="['fab', 'instagram']" class="fa-2x"></fa-icon>
         </a>

         <a href="https://twitter.com/firecloak" target="_blank" class="icon mx-1">
            <fa-icon [icon]="['fab', 'twitter']" class="fa-2x"></fa-icon>
         </a>

         <a href="https://www.deviantart.com/firecloak" target="_blank" class="icon mx-1">
            <fa-icon [icon]="['fab', 'deviantart']" class="fa-2x"></fa-icon>
         </a>

         <a href="https://www.youtube.com/user/xFirecloak" target="_blank" class="mx-1">
            <svg width="38" class="mb-3" height="27" viewBox="0 0 38 27" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path
                  d="M37.206 4.22459C36.7689 2.5617 35.4813 1.25205 33.8463 0.807609C30.8829 0 19 0 19 0C19 0 7.11713 0 4.15365 0.807609C2.51873 1.25213 1.23108 2.5617 0.794047 4.22459C0 7.23867 0 13.5273 0 13.5273C0 13.5273 0 19.8159 0.794047 22.83C1.23108 24.4929 2.51873 25.7479 4.15365 26.1924C7.11713 27 19 27 19 27C19 27 30.8829 27 33.8463 26.1924C35.4813 25.7479 36.7689 24.4929 37.206 22.83C38 19.8159 38 13.5273 38 13.5273C38 13.5273 38 7.23867 37.206 4.22459V4.22459ZM15.1136 19.2369V7.8177L25.0454 13.5274L15.1136 19.2369V19.2369Z"
                  fill="#C14510" />
            </svg>
         </a>

         <a href="https://firecloak.tumblr.com/" target="_blank" class="mx-1">
            <svg width="19" height="32" class="mb-3" viewBox="0 0 19 32" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M18.8574 30.0187C18.0079 30.925 15.7343 32 12.7736 32C5.22811 32 3.59159 26.45 3.59159 23.2125V14.2125H0.624625C0.281081 14.2125 0 13.9312 0 13.5875V9.3375C0 8.8875 0.281081 8.4875 0.705826 8.3375C4.5785 6.975 5.79652 3.5875 5.97141 1.01875C6.02138 0.33125 6.37742 0 6.97706 0H11.4057C11.7492 0 12.0303 0.28125 12.0303 0.625V7.825H17.2147C17.5582 7.825 17.8393 8.1 17.8393 8.44375V13.55C17.8393 13.8938 17.5582 14.175 17.2147 14.175H12.0053V22.5C12.0053 24.6375 13.4857 25.85 16.2527 24.7375C16.5526 24.6187 16.8149 24.5375 17.046 24.6C17.2646 24.6563 17.4083 24.8125 17.5082 25.0938L18.8824 29.1125C18.9948 29.425 19.0885 29.775 18.8574 30.0187Z" fill="#C14510"/>
               </svg>
               
         </a>

         <h2>Other Cosplayers</h2>

         <figure>
            <a href="{{cosplayer.link}}" target="_blank" *ngFor="let cosplayer of otherCosplayers">
               <img [src]="cosplayer.image" class="mx-1 my-1" alt="{[cosplayer.name]}">
            </a>
         </figure>

         <ul>
            <li *ngFor="let cosplayer of textCosplayers">
               <a href="{{ cosplayer.link }}" target="_blank">{{ cosplayer.name }}</a>
            </li>
         </ul>

         <h2>Website Credits</h2>
         <ul>
            <li>
               <a href="https://www.instagram.com/voidnetcreations/" target="_blank">Voidnet Creations</a> - Contact Me chibi art
            </li>
         </ul>

         <h2>Link Me</h2>
         Want your link here? Email me at <a href="mailto:xfirecloak@gmail.com">xfirecloak@gmail.com</a> to request a
         link exchange. You just have to link back to me somewhere on your site. Your website must be related to cosplay
         in some way. You can use one of my banners, but please upload it to your
         server.

         <figure>
            <img src="assets/links/firecloak{{i+1}}.jpg" class="mx-1 my-1" alt="firecloak.net"
               *ngFor="let item of fakeArray(13); let i=index">
         </figure>

      </div>

   </div>