<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center py-3">Links</h1>

      <h2>My Social Media</h2>

      <div class="list-group col-sm-12 col-md-4">
        <a
          href="https://www.tiktok.com/@firecloak?lang=en"
          target="_blank"
          class="list-group-item list-group-item-action py-1 d-flex align-items-center"
        >
          <fa-icon [icon]="['fab', 'tiktok']" class="fa-2x pr-3"></fa-icon>
          TikTok
        </a>
        
        <a
          href="https://www.instagram.com/firecloak/"
          target="_blank"
          class="list-group-item list-group-item-action py-1 d-flex align-items-center"
        >
          <fa-icon [icon]="['fab', 'instagram']" class="fa-2x pr-3"></fa-icon>
          Instagram
        </a>
        <a
          href="https://www.facebook.com/firecloak"
          target="_blank"
          class="list-group-item list-group-item-action py-1 d-flex align-items-center"
        >
          <fa-icon
            [icon]="['fab', 'facebook-square']"
            class="fa-2x pr-3"
          ></fa-icon>
          Facebook
        </a>
        <a
          href="https://twitter.com/firecloak"
          target="_blank"
          class="list-group-item list-group-item-action py-1 d-flex align-items-center"
        >
          <fa-icon [icon]="['fab', 'twitter']" class="fa-2x pr-3"></fa-icon>
          Twitter
        </a>
        <a
          href="https://www.deviantart.com/firecloak"
          target="_blank"
          class="list-group-item list-group-item-action py-1 d-flex align-items-center"
        >
          <fa-icon [icon]="['fab', 'deviantart']" class="fa-2x pr-3"></fa-icon>
          Deviantart
        </a>

        <a
          href="https://www.youtube.com/user/xFirecloak"
          target="_blank"
          class="list-group-item list-group-item-action py-1 d-flex align-items-center"
        >
          <fa-icon [icon]="['fab', 'youtube']" class="fa-2x pr-3"></fa-icon>
          Youtube
        </a>

        <a
          href="https://firecloak.tumblr.com/"
          target="_blank"
          class="list-group-item list-group-item-action py-1 d-flex align-items-center"
        >
          <fa-icon [icon]="['fab', 'tumblr']" class="fa-2x pr-3"></fa-icon>
          Tumblr
        </a>
      </div>

      <br />
      <a href="https://ko-fi.com/D1H01CHVN" target="_blank">
        <img
          height="36"
          src="https://cdn.ko-fi.com/cdn/kofi2.png?v=2"
          alt="Buy Me a Coffee at Ko-fi.com"
        />
      </a>

      <h2 class="pt-2">Other Cosplayers</h2>

      <figure>
        <a
          href="{{ cosplayer.link }}"
          target="_blank"
          *ngFor="let cosplayer of otherCosplayers"
        >
          <img
            [src]="cosplayer.image"
            class="mx-1 my-1"
            alt="{[cosplayer.name]}"
          />
        </a>
      </figure>

      <ul>
        <li *ngFor="let cosplayer of textCosplayers">
          <a href="{{ cosplayer.link }}" target="_blank">
            {{ cosplayer.name }}
          </a>
        </li>
      </ul>

      <h2>Website Credits</h2>
      <ul>
        <li>
          Voidnet Creations - Contact Me chibi art
        </li>
      </ul>

      <h2>Link Me</h2>
      Want your link here? Email me at
      <a href="mailto:xfirecloak@gmail.com">xfirecloak@gmail.com</a>
      to request a link exchange. You just have to link back to me somewhere on
      your site. Your website must be related to cosplay in some way. You can
      use one of my banners, but please upload it to your server.

      <figure>
        <img
          src="assets/links/firecloak{{ i + 1 }}.jpg"
          class="mx-1 my-1"
          alt="firecloak.net"
          *ngFor="let item of fakeArray(13); let i = index"
        />
      </figure>
    </div>
  </div>
</div>
