@import 'variables';
@import 'mixins';

body {
	overflow-y: scroll;
}

.c-pointer {
	cursor: pointer;
  }  

h1 {
	color: $tertiary;
	font-family: georgia;
}

h2 {
	color: $darkgreen;
	font-family: garamond;
	font-weight: bold;
}

a {
	font-weight: bold;
}

ul {
	b {
	  color: $purple;
	}
  }
  

  
  .card h5 {
	font-size: 1.1rem;
	font-weight: $font-weight-medium;
  }