@import 'variables';
@import 'mixins';

body {
	overflow-y: scroll;
}

.c-pointer {
	cursor: pointer;
  }  

h1 {
	color: $tertiary;
	font-family: georgia;
}

h2 {
	color: $darkgreen;
	font-family: 'Roboto', sans-serif;
}

a {
	font-weight: bold;
}