<div class="container">

  <div class="row">
    <div class="col">
      <h1 class="text-center py-3">Cosplays</h1>

      <app-spinner *ngIf="loading"></app-spinner>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">

      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input type="text" [(ngModel)]="term" class="form-control" placeholder="character or series"
          aria-label="cosplayOrSeries" aria-describedby="basic-addon1">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-deck">

        <div class="col-sm-3 pb-3 px-1" *ngFor="let cosplay of cosplays | async | filter:term">
          <div class="card text-center border-0 bg-transparent" [routerLink]="['/cosplay', cosplay.id]">
            <img src="assets/cosplay/{{cosplay.id}}/icon.jpg" class="card-img-top" alt="{{ cosplay.name }}">
            <div class="card-body py-2">
              <h5 class="card-title">{{ cosplay.name }}</h5>
              <p class="card-subtitle text-uppercase"><small>{{ cosplay.series }}</small></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>