<footer class="border-top text-muted mt-8">

    <div class="container">

        <div class="row py-3">
            <div class="col d-none d-md-flex align-items-center copyright">
                    &copy;2020 Firecloak
            </div>

            <div class="col d-flex justify-content-sm-end justify-content-center">


                <a href="https://www.facebook.com/firecloak" target="_blank" class="mr-2">
                    <fa-icon [icon]="['fab', 'facebook-square']" class="fa-2x"></fa-icon>
                </a>

                <a href="https://www.instagram.com/firecloak/" target="_blank">
                    <fa-icon [icon]="['fab', 'instagram']" class="fa-2x"></fa-icon>
                </a>

                <a href="https://twitter.com/firecloak" target="_blank" class="ml-2">
                    <fa-icon [icon]="['fab', 'twitter']" class="fa-2x"></fa-icon>
                </a>


            </div>

        </div>

    </div>

</footer>