@import './src/styles/variables';

footer {
    background-color: darken($secondary, 5%);
}

$footer-linkcolor: $lightpurple;

a {
    color: $footer-linkcolor;
}

a:hover {
    color: darken($footer-linkcolor, 15%);
}

.copyright {
    font-size: 14px;
}