<footer class="border-top text-muted mt-8">

    <div class="container">

        <div class="row">

            <div class="col">
                <p class="mt-2 text-center">
                    <!-- <app-top-button></app-top-button> -->

                    <a href="#">
                        <fa-icon [icon]="['fas', 'arrow-up']"  class="fa-2x"></fa-icon>
                    </a>
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col d-none d-md-block">
               <p class="text-small">
                &copy;Firecloak 2020
               </p>
            </div>

            <div class="col d-flex justify-content-end">
                icons
            </div>

        </div>

    </div>

</footer>