<div class="container">
  <div class="row pt-3 justify-content-center">
    <div class="col text-lg-center">
      <h1 class="text-center pb-3">Contact Me</h1>
      <p>
        Got a question? Fill out my
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSd3eyhjZ84Khm0yf81xCEB6ZP6NXuyUzNP0sKoml6oUUZZb5w/viewform"
          target="_blank"
          >Google Form</a
        >!
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="d-none d-lg-block col-lg-3 col-auto">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSd3eyhjZ84Khm0yf81xCEB6ZP6NXuyUzNP0sKoml6oUUZZb5w/viewform"
        target="_blank"
      >
        <img
          src="assets/contact/contact.png"
          alt="Profile pic"
          class="img-fluid pr-sm-5"
      /></a>
    </div>
  </div>

  <app-spacer></app-spacer>
</div>
