<div class="container">

    <div class="row pt-3 justify-content-center">

        <div class="col-auto">

            <h1 class="text-center pb-3">Contact Me</h1>
            <p>Got a question? Get in touch below! (Note: I do not do cosplay commissions.)</p>

            <div class="container d-flex justify-content-center pt-4">

                <div class="col">

                    <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                            <label for="name"><b>Name</b></label>
                            <input type="text" class="form-control" id="name" required [(ngModel)]="contactForm.name"
                                name="name" #name="ngModel">

                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                Name is required
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="email"><b>Email</b></label>
                            <input type="text" class="form-control" id="email" required [(ngModel)]="contactForm.email"
                                name="email" #email="ngModel">

                                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                    Email is required
                                </div>

                        </div>

                        <div class="form-group row">
                            <label for="message"><b>Message</b></label>
                            <textarea class="form-control" rows="4" cols="50" aria-label="with textarea" id="message"
                                placeholder="your message here..." required [(ngModel)]="contactForm.message"
                                name="message" #message="ngModel"></textarea>


                        </div>

                        <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                            Message is required
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">Submit</button>

                    </form>

                    <div [hidden]="!submitted">
                        <h3>Your message was sent successfully. I will get back to you shortly.</h3>
                        </div>

                </div>

            </div>


        </div>

    </div>

</div>